# ── Dev Server ────────────────────────────────────────
VITE_PORT=5173

# ── API URLs ──────────────────────────────────────────
VITE_API_USER_SERVICE=http://localhost:3001
VITE_API_TODO_SERVICE=http://localhost:3002
VITE_API_EXPENCE_SERVICE=http://localhost:3003

# ── App ───────────────────────────────────────────────
VITE_APP_TITLE=FinTask
